In [13]:
import pandas as pd

df = pd.read_csv("/Users/ridhi/Downloads/Crime_Data_from_2020_to_Present.csv")

# Displaying the first 5 rows.
print(df.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Wilshire          784         1     510
1    Central          182         1     330
2  Southwest          356         1     480
3   Van Nuys          964         1     343
4  Hollywood          666         2     354

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277

[5 rows x 28 columns]

In [2]:
print(df.columns)

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [3]:
print(df.shape)

(982638, 28)

In [14]:
# Minimum, Maximum and Median age of victims
min_age = df['Vict Age'].min()

max_age = df['Vict Age'].max()

median_age = df['Vict Age'].median()

print(f"The youngest victim is: {min_age} years old.")
print(f"The oldest victim is: {max_age} years old.")
print(f"The median age of victims is: {median_age} years.")

The youngest victim is: -4 years old.
The oldest victim is: 120 years old.
The median age of victims is: 30.0 years.

In [15]:
# Converting 'DATE OCC' to datetime format.
df['DATE OCC'] = pd.to_datetime(df['DATE OCC'])

# Creating a new column called 'DayOfWeek'
df['DayOfWeek'] = df['DATE OCC'].dt.day_name()

# Displaying the first few rows.
print(df[['DATE OCC', 'DayOfWeek']].head())

    DATE OCC  DayOfWeek
0 2020-03-01     Sunday
1 2020-02-08   Saturday
2 2020-11-04  Wednesday
3 2020-03-10    Tuesday
4 2020-08-17     Monday

In [9]:
# A day in the week that has most crimes.

most_crimes = df['DayOfWeek'].value_counts().idxmax()

print(f"The data reveals that {most_common_day} experiences the most criminal activity.")

The data reveals that Friday experiences the most criminal activity.

In [10]:
# Filtering the dataset.
theft_data = df[df['Crm Cd Desc'].str.contains("THEFT", case=False)]

print(theft_data.head())

# Export the filtered data.
theft_data.to_csv("thefts.csv", index=False)

       DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA  AREA NAME  \
3  200907217  05/10/2023 12:00:00 AM 2020-03-10      2037     9   Van Nuys
4  220614831  08/18/2022 12:00:00 AM 2020-08-17      1200     6  Hollywood
5  231808869  04/04/2023 12:00:00 AM 2020-12-01      2300    18  Southeast
6  230110144  04/04/2023 12:00:00 AM 2020-07-03       900     1    Central
7  220314085  07/22/2022 12:00:00 AM 2020-05-12      1110     3  Southwest

   Rpt Dist No  Part 1-2  Crm Cd                               Crm Cd Desc  \
3          964         1     343  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)
4          666         2     354                         THEFT OF IDENTITY
5         1826         2     354                         THEFT OF IDENTITY
6          182         2     354                         THEFT OF IDENTITY
7          303         2     354                         THEFT OF IDENTITY

   ...  Status Desc  Crm Cd 1 Crm Cd 2 Crm Cd 3  Crm Cd 4  \
3  ...  Invest Cont     343.0      NaN      NaN       NaN
4  ...  Invest Cont     354.0      NaN      NaN       NaN
5  ...  Invest Cont     354.0      NaN      NaN       NaN
6  ...  Invest Cont     354.0      NaN      NaN       NaN
7  ...  Invest Cont     354.0      NaN      NaN       NaN

                                   LOCATION  Cross Street      LAT       LON  \
3  14000    RIVERSIDE                    DR           NaN  34.1576 -118.4387
4                         1900    TRANSIENT           NaN  34.0944 -118.3277
5   9900    COMPTON                      AV           NaN  33.9467 -118.2463
6   1100 S  GRAND                        AV           NaN  34.0415 -118.2620
7   2500 S  SYCAMORE                     AV           NaN  34.0335 -118.3537

  DayOfWeek
3   Tuesday
4    Monday
5   Tuesday
6    Friday
7   Tuesday

[5 rows x 29 columns]

In [11]:
print(theft_data.shape)

(274030, 29)